@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply text-base py-2 rounded text-center text-white outline-none;
  }
  .table-wrapper {
    @apply w-full py-5 min-h-screen flex flex-col justify-center items-center bg-[#f45b69];
  }
}

@layer base {
  * {
    @apply select-none;
  }
  body {
    @apply overscroll-contain font-sans;
  }
}

.dice {
  width: 100px;
  height: 100px;
  padding: 15px;
  display: grid;
  grid-template-areas:
    "one two three"
    "four five six"
    "seven eight nine";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-radius: 12px;
  border: solid 2px black;
}

.first {
  background: #e63946;
}

.second {
  background: #ffb703;
}

.dice span {
  align-self: center;
  border-radius: 50%;
  box-shadow: inset -0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
  display: block;
  height: 1.25rem;
  justify-self: center;
  width: 1.25rem;
}

.second span {
  background-color: #e63946;
}

.first span {
  background-color: #ffb703;
}

.six span:nth-of-type(1) {
  grid-area: one;
}
.six span:nth-of-type(2) {
  grid-area: three;
}
.six span:nth-of-type(3) {
  grid-area: four;
}
.six span:nth-of-type(4) {
  grid-area: six;
}
.six span:nth-of-type(5) {
  grid-area: seven;
}
.six span:nth-of-type(6) {
  grid-area: nine;
}
.five span:nth-of-type(1) {
  grid-area: one;
}
.five span:nth-of-type(2) {
  grid-area: three;
}
.five span:nth-of-type(3) {
  grid-area: five;
}
.five span:nth-of-type(4) {
  grid-area: seven;
}
.five span:nth-of-type(5) {
  grid-area: nine;
}
.four span:nth-of-type(1) {
  grid-area: one;
}
.four span:nth-of-type(2) {
  grid-area: three;
}
.four span:nth-of-type(3) {
  grid-area: seven;
}
.four span:nth-of-type(4) {
  grid-area: nine;
}
.three span:nth-of-type(1) {
  grid-area: one;
}
.three span:nth-of-type(2) {
  grid-area: five;
}
.three span:nth-of-type(3) {
  grid-area: nine;
}
.one span:nth-of-type(1) {
  grid-area: five;
}
.two span:nth-of-type(1) {
  grid-area: one;
}
.two span:nth-of-type(2) {
  grid-area: nine;
}
